{% extends "base.html" %}

{% block content %}
<div class="flex w-full justify-center">
    <div class="max-w-lg space-y-6 my-8 px-4">
        <div>
            <b>Objective:</b> In Fermi Poker, the objective is to win the most chips by making accurate estimates and strategic bets. Players take turns making Fermi estimates and betting on the accuracy of these estimates by calling, raising, or folding, just like in poker.
        </div>
        <div>
            How to Play
        </div>
        <div>
            1. <b>Take turns estimating:</b> Fermi Poker is a two-player game where players take turns making estimates. When it's your turn to be the estimator, you'll be presented with a Fermi problem, such as "What's the average number of hairs on a person's head?"
        </div>
        <div>
            2. <b>Make your best guess:</b> Express your estimate using scientific notation in the form of 10^(x +/- y), where x is your estimate and y represents the range of uncertainty. For example, if you think the average number of hairs on a human head is around 1,000,000 with an uncertainty range of 2 orders of magnitude, you would guess 10^(6 +/- 2).
        </div>
        <div>
            3. <b>Place your bets:</b> After the estimator makes their guess, the betting round begins. The non-estimating player can choose to either call (match the current bet), raise (increase the bet), or fold (withdraw from the current round). The estimator can then choose to either call or fold in response to a raise. This betting process continues until both players have either called or folded.
        </div>
        <div>
            4. <b>Determine the accuracy:</b> After the betting round concludes, the true answer to the Fermi problem will be revealed. If the correct answer falls within the range of the estimator's guess (in this case, between 10^4 and 10^8), the estimate is considered accurate. If the true answer lies outside the estimated range, the estimate is inaccurate.
        </div>
        <div>
            5. <b>Distribute the winnings:</b> If the estimator's guess was accurate, they win the pot (the total amount bet by both players). If the estimate was inaccurate, the non-estimating player wins the pot. In the case of a fold, the player who didn't fold wins the pot.
        </div>
        <div>
            The game continues with players taking turns being the estimator and betting on the accuracy of the estimates. The player with the most chips at the end of the agreed-upon number of rounds wins the game!
        </div>
    </div>
</div>
{% endblock %}
