{% extends "base.html" %}

{% block content %}
<div class="flex w-full justify-center">
    <div class="max-w-xs space-y-6 my-8 px-2">
        <div class="w-full">
            <div class="text-xs">Instruction</div>
            {% if you_won %}
            <div>You win! Your opponent pays you ${{ payout }}!</div>
            {% else %}
            <div>You lose :'( You pay out ${{ payout }}!</div>
            {% endif %}
        </div>
        <div class="flex">
            <div class="w-1/2">
                <div class="text-xs">Balance</div>
                <div>${{ balance }}</div>
            </div>
        </div>
        <div>
            <div class="text-xs">Problem</div>
            <div>{{ problem }}</div>
        </div>
        {% if has_estimate %}
        <div class="w-full">
            {% if is_estimator %}
            <div class="text-xs">Estimate</div>
            {% else %}
            <div class="text-xs">Opponent's estimate</div>
            {% endif %}
            <div>
                10^({{ estimate }} +/- {{ error }})
            </div>
        </div>
        {% endif %}
        <div class="w-full">
            <div class="text-xs">Answer</div>
            <div>
                10^{{ expected_oom }}
                <a class="text-xs text-blue-600 hover:underline" href="{{ source }}">
                    (source)
                </a>
            </div>
        </div>
        <div class="max-w-xs">
            <div class="w-full text-center my-8" id="text">Want to play another round?</div>
            <div class="space-y-1" id="buttons">
                <button onclick="yes()" class="w-full border-2 border-black px-2 py-1 hover:text-white hover:bg-black">
                    yes
                </button>
                <button onclick="no()" class="w-full border-2 border-black px-2 py-1 hover:text-white hover:bg-black">
                    no
                </button>
            </div>
            <div id="message" class="text-red-600"></div>
        </div>
    </div>
</div>
<script>
    const game_id = "{{ game_id }}";
    const state = "{{ state }}";

    const yes = () => {
        fetch("/api/play-again", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ game_id, play_again: true })
        })
            .then(response => response.json())
            .then(response => {
                if (!response.success) {
                    document.getElementById("message").innerHTML = response.message; return;
                }

                window.location.reload();
            })
    }

    const no = () => {
        fetch("/api/play-again", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ game_id, play_again: false })
        })
            .then(response => response.json())
            .then(response => {
                if (!response.success) {
                    document.getElementById("message").innerHTML = response.message; return;
                }

                window.location.href = "/";
            })
    }
</script>
{% endblock %}