{% extends "base.html" %}

{% block content %}
<div class="flex w-full justify-center">
    <div class="max-w-xs space-y-6 my-8 px-2">
        <div class="w-full">
            <div class="text-xs">Instruction</div>
            {% if you_won %}
            <div>You win! Your opponent pays you ${{ payout }}!</div>
            {% else %}
            <div>You lose :'( You pay out ${{ payout }}!</div>
            {% endif %}
        </div>
        <div class="flex">
            <div class="w-1/2">
                <div class="text-xs">Balance</div>
                <div>${{ balance }}</div>
            </div>
        </div>
        <div>
            <div class="text-xs">Problem</div>
            <div>{{ problem }}</div>
        </div>
        <div class="w-full">
            {% if is_estimator %}
            <div class="text-xs">Estimate</div>
            {% else %}
            <div class="text-xs">Opponent's estimate</div>
            {% endif %}
            <div>
                10^({{ estimate }} +/- {{ error }})
            </div>
        </div>
        <div class="w-full">
            <div class="text-xs">Answer</div>
            <div>
                10^{{ expected_oom }}
                <a class="text-xs text-blue-600 hover:underline" href="{{ source }}">
                    (source)
                </a>
            </div>
        </div>
        <button class="bg-black text-white border-2 border black w-full py-1" onclick="ok()">ok</button>
    </div>
</div>
<script>
    const game_id = "{{ game_id }}";

    const ok = () => {
        window.location.href = `/game/${game_id}/play-again`;
    }
</script>
{% endblock %}