{% extends "base.html" %}

{% block content %}
<div class="flex w-full justify-center">
    <div class="max-w-xs">
        <div class="w-full text-center my-8">Waiting for your opponent to respond...</div>
        <div id="message" class="text-red-600"></div>
    </div>
</div>
<script>
    const game_id = "{{ game_id }}";
    const state = "{{ state }}";

    const getGameState = () => {
        fetch(`/api/game/${game_id}/state`)
            .then(response => response.json())
            .then((data) => {
                if (!data.success) {
                    console.error(data.message); return;
                }

                if (data.state !== state) {
                    window.location.reload(); return;
                }
            })
    }

    const stateInterval = setInterval(getGameState, 1000);
</script>
{% endblock %}