{% extends "base.html" %}

{% block content %}
<div class="flex w-full justify-center">
    <div class="max-w-xs space-y-6 my-8 px-2">
        <div class="w-full">
            <div class="text-xs">Instruction</div>
            <div>{{ instruction }}</div>
        </div>
        <div class="flex">
            <div class="w-1/2">
                <div class="text-xs">Balance</div>
                <div>${{ balance }}</div>
            </div>
            <div class="w-1/2">
                <div class="text-xs">Timer</div>
                <div id="timer">0:15</div>
            </div>
        </div>
        <div>
            <div class="text-xs">Problem</div>
            <div>{{ problem }}</div>
        </div>
        <div class="w-full">
            <div class="text-xs">{{ estimate_header }}</div>
            <div>
                10^({{ estimate }} +/- {{ error }})
            </div>
        </div>
        <div class="flex">
            <div class="w-1/2">
                <div class="text-xs">Your ante</div>
                <div>
                    ${{ ante }}
                </div>
            </div>
            <div class="w-1/2">
                <div class="text-xs">Opponent's ante</div>
                <div>
                    ${{ opponents_ante }}
                </div>
            </div>
        </div>
        {% if show_buttons %}
        <div class="space-y-1">
            <button class="bg-black text-white border-2 border black w-full py-1" onclick="raise()">raise $1</button>
            <button class="bg-black text-white border-2 border black w-full py-1" onclick="call()">call</button>
            <button class="bg-black text-white border-2 border black w-full py-1" onclick="fold()">fold</button>
        </div>
        {% endif %}
    </div>
</div>
<script>
    const game_id = "{{ game_id }}";
    const state = "{{ state }}";

    let minutes = 0;
    let seconds = 15;

    const countdown = () => {
        if (seconds < 0) {
            minutes--;
            seconds = 59;
        }

        if (minutes < 0) {
            clearInterval(countdownInterval);

            fetch(`/api/fold`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ game_id })
            }).then(() => {
                window.location.reload();
            })

            return;
        }

        const minutesStr = minutes < 10 ? `${minutes}` : minutes;
        const secondsStr = seconds < 10 ? `0${seconds}` : seconds;

        document.getElementById("timer").innerText = `${minutesStr}:${secondsStr}`;

        seconds--;
    };

    const raise = () => {
        fetch(`/api/raise`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ game_id })
        })
            .then(response => response.json())
            .then((data) => {
                if (!data.success) {
                    console.error(data.message); return;
                }

                window.location.reload();
            })
    }

    const call = () => {
        fetch(`/api/call`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ game_id })
        })
            .then(response => response.json())
            .then((data) => {
                if (!data.success) {
                    console.error(data.message); return;
                }

                window.location.reload();
            })
    }

    const fold = () => {
        fetch(`/api/fold`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ game_id })
        })
            .then(response => response.json())
            .then((data) => {
                if (!data.success) {
                    console.error(data.message); return;
                }

                window.location.reload();
            })
    }

    const getGameState = () => {
        fetch(`/api/game/${game_id}/state`)
            .then(response => response.json())
            .then((data) => {
                if (!data.success) {
                    console.error(data.message); return;
                }

                if (data.state !== state) {
                    window.location.reload(); return;
                }
            })
    }

    const countdownInterval = setInterval(countdown, 1000);
    const stateInterval = setInterval(getGameState, 1000);
</script>
{% endblock %}