{% extends "base.html" %}

{% block content %}
<div class="flex w-full justify-center">
    <div class="max-w-xs">
        <div class="w-full text-center my-8">Get your friend to enter the code below on the home screen!</div>
        <div class="w-full text-center text-3xl font-bold">{{ game_id }}</div>
    </div>
</div>
<script>
    const game_id = "{{ game_id }}";
    const state = "{{ state }}";

    const getGameState = () => {
        fetch(`/api/game/${game_id}/state`)
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    console.error(data.message); return;
                }

                if (state !== data.state) {
                    window.location.reload(); return;
                }
            })
    }

    const stateInterval = setInterval(getGameState, 1000);
</script>
{% endblock %}