{% extends "base.html" %}

{% block content %}
<div class="flex w-full justify-center">
    <div class="max-w-xs">
        <div class="w-full text-center my-8">Get your friend to enter the code below on the home screen!</div>
        <div class="w-full text-center text-3xl font-bold">{{ game_id }}</div>
    </div>
</div>
<script>
    const id = "{{ game_id }}";

    function start() {
        fetch(`/api/game/${id}/is-waiting-for-players`)
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    console.error(data.message); return;
                }

                if (!data.is_waiting_for_players) {
                    window.location.href = "/game/{{ game_id }}"; return;
                }

                setTimeout(start, 1000); return; // still waiting
            })
    }

    window.onload = start;
</script>
{% endblock %}