{% extends "base.html" %}

{% block content %}
<div class="flex w-full justify-center">
    <div class="max-w-xs">
        <div class="w-full text-center my-8">Get your friend to enter the code below on the home screen!</div>
        <div class="w-full text-center text-3xl font-bold">{{ game_id }}</div>
    </div>
</div>
<script>
    const id = "{{ game_id }}";

    function start() {
        fetch(`/api/game/${id}/number-of-players`)
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    console.error(data.message); return;
                }

                if (data.number_of_players == 0) {
                    window.location.href = "/"; // no ones here; go back to home page
                }

                if (data.number_of_players == 1) {
                    setTimeout(start, 1000); return; // still waiting
                }

                window.location.href = "/game/{{ game_id }}" // start game
            })
            .catch(error => console.error('Error:', error));
    }

    window.onload = start;
</script>
{% endblock %}